@model IEnumerable<CRMSanto.Models.Product>

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    


<ul class="breadcrumb">
    <li class="active">Producten</li>
</ul>

    <div class="input-group search">
        <input type="text" value="@ViewBag.Search" name="Search" class="form-control" placeholder="Zoeken...">
        <span class="input-group-btn">
            <button class="btn-floating waves-effect waves-light santo-brown-bg inline-btn" name="submit" type="submit" tabindex="-1">
                <i class="mdi-action-search"></i>
            </button>
            <button class="btn-floating waves-effect waves-light santo-brown-bg inline-btn btn-search" name="clear" type="submit" tabindex="-1">
                <i class=" mdi-content-clear"></i>
            </button>

        </span>
    </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>@Html.ActionLink(Html.DisplayNameFor(model => model.Naam).ToString(), "Index", new { sortOrder = ViewBag.NameSortParm })</th>
                        <th>@Html.ActionLink(Html.DisplayNameFor(model => model.Inhoud).ToString(), "Index", new { sortOrder = ViewBag.InhoudSortParm })</th>
                        <th>Verkocht</th>
                        <th>@Html.ActionLink(Html.DisplayNameFor(model => model.AankoopPrijs).ToString(), "Index", new { sortOrder = ViewBag.APSortParm })</th>
                        <th>@Html.ActionLink(Html.DisplayNameFor(model => model.VerkoopPrijs).ToString(), "Index", new { sortOrder = ViewBag.VPSortParm })</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                    <tr class="product">
                        <td>@Html.DisplayFor(modelItem => item.Naam)</td>
                        <td>@Html.DisplayFor(modelItem => item.Inhoud)</td>
                        <td>3</td>
                        <td>€ @Html.DisplayFor(modelItem => item.AankoopPrijs)</td>
                        <td>€ @Html.DisplayFor(modelItem => item.VerkoopPrijs)</td>
                        <td>
                            <nobr>
                                <a href='@Url.Action("Edit","Product",new { id = item.ID })'class="btn-floating waves-effect waves-light orange inline-btn"><i class="mdi-editor-mode-edit"></i></a>
                                <a class="btn-floating waves-effect waves-light red inline-btn"><i class="mdi-content-remove-circle"></i></a>
                                <a href='@Url.Action("NewProductRegistration", "Product", new { id = item.ID })' class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-action-shopping-cart"></i></a>
                            </nobr>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
}
Aantal resultaten: @Model.Count()
<div class="fixed-action-btn">
    
    <a href='@Url.Action("New", "Product")' class="btn-floating btn-large waves-effect waves-light green"><i class="mdi-content-add"></i></a>
</div>
