@model CRMSanto.Models.PresentationModels.NieuweProductRegistratiePM

@{
    ViewBag.Title = "Verkopen";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Producten", "Index", "Product")</li>
    <li class="active">Verkopen</li>
</ul>

<h2>@Model.Product.Naam</h2>
@using (Html.BeginForm("NewProductRegistration", "Product", FormMethod.Post,
 new { @id = "frmProductRegistration" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <label for="KlantID">Klant</label>
                    @Html.DropDownListFor(model => model.KlantID, Model.Klanten, new { @class = "browser-default" })
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label for="Productregistratie_Aantal">Aantal</label>
                    @Html.EditorFor(model => model.Productregistratie.Aantal)
                    @Html.ValidationMessageFor(model => model.Productregistratie.Aantal, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a onclick="$('#frmProductRegistration').submit();" href="#" class="btn-floating btn-large waves-effect waves-light green"><i class="mdi-content-save"></i></a>
    </div>

            }

            <script>
                $(document).ready(function () {
                    $('select').material_select();
                });
            </script>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
