@model CRMSanto.Models.PresentationModels.NieuweProductRegistratiePM

@{
    ViewBag.Title = "NewProductRegistration";
}

@using (Html.BeginForm("NewProductRegistration", "Product", FormMethod.Post,
 new { @id = "frmProductRegistration" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Productregistratie.Winkelmand.DatumTijdstip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Productregistratie.Winkelmand.DatumTijdstip, new { htmlAttributes = new { @class = "form-control DatumTijdstip" } })
                @Html.ValidationMessageFor(model => model.Productregistratie.Winkelmand.DatumTijdstip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Productregistratie.Aantal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Productregistratie.Aantal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Productregistratie.Aantal, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.DropDownListFor(model => model.ProductID, Model.Producten, new { htmlAttributes = new { @class = "browser-default" } })
        @Html.DropDownListFor(model => model.KlantID, Model.Klanten, new { htmlAttributes = new { @class = "browser-default" } })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a onclick="$('#frmProductRegistration')[0].submit();" href="#" class="btn btn-success btn-fab btn-raised mdi-content-save"></a>
                <a onclick="$('#frmProductRegistration')[0].reset();" href="#" class="btn btn-warning btn-fab btn-raised mdi-navigation-refresh fab2"></a>
                @Html.ActionLink(" ", "Index", "Product", null, new Dictionary<string, object> { { "class", "btn btn-danger btn-fab btn-raised mdi-navigation-close fab3" } })
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
