@model CRMSanto.Models.MedischeFiche
@{
    List<CRMSanto.Models.Mutualiteit> list = (List<CRMSanto.Models.Mutualiteit>)ViewData["Mutualiteiten"];
}

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Voedingspatroon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Voedingspatroon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Voedingspatroon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Spijsvertering, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Spijsvertering, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Spijsvertering, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HuidigeKlachten, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HuidigeKlachten, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HuidigeKlachten, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.Mutualiteit.ID, new SelectList(list, "ID", "Naam"))
                @Html.ValidationMessageFor(model => model.Mutualiteit, "", new { @class = "text-danger" })
            </div>
        </div>
