@model CRMSanto.Models.MedischeFiche
@{
    List<CRMSanto.Models.Mutualiteit> list = (List<CRMSanto.Models.Mutualiteit>)ViewData["Mutualiteiten"];
    List<CRMSanto.Models.Voedingspatroon> list2 = (List<CRMSanto.Models.Voedingspatroon>)ViewData["Voedingspatronen"];
}

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.ID)
<div class="row">
    <div class="col s12">
        <label for="MedischeFiche_Voedingspatroon_ID">@Html.DisplayNameFor(model => model.Voedingspatroon)</label>
        <select id="MedischeFiche_Voedingspatroon_ID" name="MedischeFiche.Voedingspatroon.ID" class="browser-default">
            @foreach (var m in list2)
            {
                <option value="@m.ID">@m.Naam</option>
            }
        </select>
    </div>
    </div>
<div class="row">
    <div class="input-field col s12">
        @Html.EditorFor(model => model.Spijsvertering, new { htmlAttributes = new { @class = "validate", id = "spijsvertering", placeholder = "" } })
        <label for="spijsvertering">@Html.DisplayNameFor(model => model.Spijsvertering)</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        @Html.EditorFor(model => model.HuidigeKlachten, new { htmlAttributes = new { @class = "validate", id = "huidigeklachten", placeholder = "" } })
        <label for="huidigeklachten">@Html.DisplayNameFor(model => model.HuidigeKlachten)</label>
    </div>
    </div>
<div class="row">
    <div class="col s12">
        <p>
            <label for="MedischeFiche_Mutualiteit_ID">@Html.DisplayNameFor(model => model.Mutualiteit)</label>
            <select id="MedischeFiche_Mutualiteit_ID" name="MedischeFiche.Mutualiteit.ID" class="browser-default">
                @foreach (var m in list)
                {
                    <option value="@m.ID">@m.Naam</option>
                }
            </select>
        </p>
    </div>

</div>