@model CRMSanto.Models.PersoonlijkeFiche

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@{
    List<CRMSanto.Models.Werksituatie> list = (List<CRMSanto.Models.Werksituatie>)ViewData["Werksituaties"];
}
@Html.HiddenFor(model => model.ID)
    <div class="row">
        <div class="input-field col s12">
            <div class="row">
                <div class="col s12">
                        @Html.EditorFor(model => model.Werksituatie)
                </div>
                </div>
            <div class="row">
                <div class="input-field col s6">
                    <p>
                        <label for="hobby">@Html.DisplayNameFor(model => model.Hobby)</label>
                        @Html.EditorFor(model => model.Hobby, new { htmlAttributes = new { id = "hobby", placeholder = "" } })
                    </p>
                </div>
                <div class="input-field col s6">
                    <p>
                        <label for="gezinssituatie">@Html.DisplayNameFor(model => model.Gezinssituatie)</label>
                        @Html.EditorFor(model => model.Gezinssituatie, new { htmlAttributes = new { id = "gezinssituatie", placeholder = "" } })
                    </p>
                </div>
            </div>
            </div>
        </div>
