@model CRMSanto.Models.Karaktertrek

@{
    ViewBag.Title = "NewKaraktertrek";
    List<CRMSanto.Models.Karaktertrek> list =  ViewBag.List;
}
<h2>Nieuwe Karaktertrek Optie</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Naam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
            </div>
        </div>
        <h4>Bestaande :</h4>
        <div class="form-group">
            <div class="col-md-10">
                <table style="width:100%">
                    <tr>
                        <td>ID</td>
                        <td>Naam</td>
                    </tr>             
                        @foreach (CRMSanto.Models.Karaktertrek item in list)
                        {
                            <tr>
                                <td>@Html.Raw(item.ID)</td>
                                <td>@Html.Raw(item.Naam)</td>
                            </tr>
                        }                
                </table> 
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <h4>Bestaande :</h4>
        <div class="form-group">
            <div class="col-md-10">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Naam</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CRMSanto.Models.Karaktertrek item in list)
                        {
                            <tr>
                                <td>@Html.Raw(item.ID)</td>
                                <td>@Html.Raw(item.Naam)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
