<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Santo</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/Content/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon-16x16.png">
    <link rel="manifest" href="Content/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
    var datefield = document.createElement("input")
    datefield.setAttribute("type", "date")
    if (datefield.type != "date") { //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
    }
    </script>
        @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar-fixed">
        <nav class="santo-brown-bg">
            <div class="nav-wrapper container">
                <a href="@Url.Action("Index", "Home")" class="brand-logo left"><img src="/Content/img/logo.png" alt=""></a>
                <a href="@Url.Action("Index", "Home")" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <ul class="left hide-on-med-and-down" style="margin-left: 174px;">
                    <li class="@Html.ActivePage("Home", "Index") waves-effect waves-light">@Html.ActionLink("Start", "Index", "Home", null, null)</li>
                    <li class="@Html.ActivePage("Afspraak", "Index") waves-effect waves-light">@Html.ActionLink("Afspraken", "Index", "Afspraak", null, null)</li>
                    <li class="@Html.ActivePage("Klant", "Index") waves-effect waves-light">@Html.ActionLink("Klanten", "Index", "Klant", null, null)</li>
                    <li class="@Html.ActivePage("Product", "Index") waves-effect waves-light">@Html.ActionLink("Producten", "Index", "Product", null, null)</li>
                    <li class="@Html.ActivePage("Dienst", "Index") waves-effect waves-light">@Html.ActionLink("Diensten", "Index", "Dienst", null, null)</li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li class="@Html.ActivePage("Home", "Index")">@Html.ActionLink("Start", "Index", "Home", null, null)</li>
                    <li class="@Html.ActivePage("Afspraak", "Index")">@Html.ActionLink("Afspraken", "Index", "Afspraak", null, null)</li>
                    <li class="@Html.ActivePage("Klant", "Index")">@Html.ActionLink("Klanten", "Index", "Klant", null, null)</li>
                    <li class="@Html.ActivePage("Product", "Index")">@Html.ActionLink("Producten", "Index", "Product", null, null)</li>
                    <li class="@Html.ActivePage("Dienst", "Index")">@Html.ActionLink("Diensten", "Index", "Dienst", null, null)</li>
                    <li class="@Html.ActivePage("Setting", "Index")">@Html.ActionLink("Instellingen", "Index", "Setting", null, null)</li>
                    <li class="@Html.ActivePage("Stats","Index")">@Html.ActionLink("Statistieken", "Index", "Stats", null, null)</li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li class="@Html.ActivePage("Setting", "Index") waves-effect waves-light"><a href='@Url.Action("Index", "Setting")'><i class="mdi-action-settings"></i></a></li>
                    <li class="@Html.ActivePage("Stats","Index") waves-effect waves-light"><a href='@Url.Action("Index", "Stats")'><i class="mdi-editor-insert-chart"></i></a></li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/material")
    @RenderSection("scripts", required: false)

    <script>
        function updateClock() {
            var currentTime = new Date();
            var currentHours = currentTime.getHours();
            var currentMinutes = currentTime.getMinutes();
            var currentSeconds = currentTime.getSeconds();

            // Pad the minutes and seconds with leading zeros, if required
            currentMinutes = (currentMinutes < 10 ? "0" : "") + currentMinutes;
            currentSeconds = (currentSeconds < 10 ? "0" : "") + currentSeconds;

            // Compose the string for display
            var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds;


            $("#clock").html("<span>" + currentTimeString + "</span>");

        }
        $(document).ready(function () {
            setInterval('updateClock()', 1000);
            $(".button-collapse").sideNav();
    });
    </script>
</body>
</html>
