<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Santo</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/Content/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon-16x16.png">
    <link rel="manifest" href="Content/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/Content/img/logo.png" alt=""></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@Html.ActivePage("Home", "Index")">@Html.ActionLink("Start", "Index", "Home", null, null)</li>
                    <li class="@Html.ActivePage("Afspraak", "Index")">@Html.ActionLink("Afspraken", "Index", "Afspraak", null, null)</li>
                    <li class="@Html.ActivePage("Klant", "Index")">@Html.ActionLink("Klanten", "Index", "Klant", null, null)</li>
                    <li class="@Html.ActivePage("Product", "Index")">@Html.ActionLink("Producten", "Index", "Product", null, null)</li>
                </ul>
                <div class="hidden-sm">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="@Html.ActivePage("Instellingen", "Index")">@Html.ActionLink("Instellingen", "Index", "Instellingen", null, null)</li>
                        <li class="active klok"><a id="clock"><span>00:00:00</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/material")
    @RenderSection("scripts", required: false)

    <script>
        function updateClock() {
            var currentTime = new Date();
            var currentHours = currentTime.getHours();
            var currentMinutes = currentTime.getMinutes();
            var currentSeconds = currentTime.getSeconds();

            // Pad the minutes and seconds with leading zeros, if required
            currentMinutes = (currentMinutes < 10 ? "0" : "") + currentMinutes;
            currentSeconds = (currentSeconds < 10 ? "0" : "") + currentSeconds;

            // Compose the string for display
            var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds;


            $("#clock").html("<span>" + currentTimeString + "</span>");

        }
        $(document).ready(function () {
            setInterval('updateClock()', 1000);
            $.material.init();
            $('.combobox').combobox();
    });
    </script>
</body>
</html>
