@model IEnumerable<CRMSanto.Models.Klant>

@{
    ViewBag.Title = "Klanten";
}


<ul class="breadcrumb">
    <li class="active">Klanten</li>
</ul>

@using (Html.BeginForm("Index", "Klant", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="input-group search">
        <input type="text" value="@ViewBag.Search" name="Search" class="form-control" placeholder="Zoeken...">
        <span class="input-group-btn">
            <button class="btn-floating waves-effect waves-light santo-brown-bg inline-btn" name="submit" type="submit" tabindex="-1">
                <i class="mdi-action-search"></i>
            </button>
            <button class="btn-floating waves-effect waves-light santo-brown-bg inline-btn btn-search" name="clear" type="submit" tabindex="-1">
                <i class=" mdi-content-clear"></i>
            </button>
           
        </span>
    </div>
    <div class="panel-group filter-panel" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title expand-one">
                    <i class="mdi-hardware-keyboard-arrow-right" id="icon-one"></i> <i class="mdi-content-filter-list"></i> Filters
                </h4>
            </div>
            <div class="panel-body content-one klant-hidden">
                <div class="row">
                    <div class="col s12">
                            <div class="row">
                                <div class="col s12">
                                    <p>
                                        <label for="geslachten">Geslacht</label>
                                        @Html.DropDownList("Options", ViewData["Options"] as SelectList, "--", new { @class = "browser-default", id = "geslachten", sortGeslacht = ViewBag.sortGeslacht })
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <p class="range-field">
                                        <label for="LeeftijdVan">Minimum leeftijd: <span id="minLeeftijd"></span></label>
                                        <input type="range" id="LeeftijdVan" name="LeeftijdVan" min="0" max="100" value="@ViewBag.LeeftijdVan" onchange="updateMinLeeftijd(this.value);" />
                                    </p>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col s12">
                                    <p class="range-field">
                                        <label for="LeeftijdTot">Maximum leeftijd: <span id="maxLeeftijd"></span></label>
                                        <input type="range" id="LeeftijdTot" name="LeeftijdTot" min="0" max="100" value="@ViewBag.LeeftijdTot" onchange="updateMaxLeeftijd(this.value);" />
                                    </p>
                                </div>
                            </div>
                        <div class="last row">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light" name="filterDit" id="filterDit" type="submit" tabindex="-1">
                                    Toepassen
                                    <i class="mdi-content-filter-list right"></i>
                                </button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tr>
                    @*<th>
                        <p>
                            <input type="checkbox" name="checkbox-th" id="checkbox-th" value="mails" />
                            <label for="checkbox-th"></label>
                        </p>
                    </th>*@
                    <th> </th>
                    <th> </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Naam)*@
                        @Html.ActionLink(Html.DisplayNameFor(model => model.Naam).ToString(), "Index", new { sortOrder = ViewBag.NameSortParm }, new { @class = "linkdisabled" })
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Voornaam)*@
                        @Html.ActionLink(Html.DisplayNameFor(model => model.Voornaam).ToString(), "Index", new { sortOrder = ViewBag.FirstNameSortParm}, new { @class = "linkdisabled" })
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Telefoon)*@
                        @Html.ActionLink(Html.DisplayNameFor(model => model.Telefoon).ToString(), "Index", new { sortOrder = ViewBag.PhoneSortParm }, new { @class = "linkdisabled" })
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Email)*@
                        @Html.ActionLink(Html.DisplayNameFor(model => model.Email).ToString(), "Index", new { sortOrder = ViewBag.EmailSortParm }, new { @class = "linkdisabled" })
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Adres)*@
                        @Html.ActionLink(Html.DisplayNameFor(model => model.Adres).ToString(), "Index", new { sortOrder = ViewBag.AdresSortParm }, new { @class = "linkdisabled" })
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Adres)*@
                        @Html.ActionLink(Html.DisplayNameFor(model => model.Adres.Gemeente).ToString(), "Index", new { sortOrder = ViewBag.GemeenteSortParm }, new { @class = "linkdisabled" })
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    
                    
                    <tr class='clickable-row' data-href='/Klant/Edit/@Html.DisplayFor(modelItem => item.ID)'>
                        <td>
                            <p>
                                <input type="checkbox" class="checkboxes" name="Test" id="@item.ID" value="@item.Email" checked/>
                                <label for="checkbox-@item.ID"></label>
                            </p>
                        </td>
                        <td>
                            <img src="@Html.GetPhotoURL(Html.DisplayFor(modelItem => item.Foto).ToString())" alt="" class="profilepic shadow-z-1" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Voornaam)
                        </td>
                        <td>
                            @Html.FormatPhoneNumber(Html.DisplayFor(modelItem => item.Telefoon).ToString())
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adres.Straat) @Html.DisplayFor(modelItem => item.Adres.Nummer) @Html.DisplayFor(modelItem => item.Adres.Postbus)<br />


                        </td>
                        <td class="uppercase">
                            @Html.DisplayFor(modelItem => item.Adres.Gemeente.Plaatsnaam) <br />
                        </td>
                    </tr>
                }

            </table>
        </div>
        Aantal resultaten: @Model.Count()

        <div class="fixed-action-btn">
            <a  id="mailTo" name="mailTo" onclick="mailTo();" class="btn-floating btn-large waves-effect waves-light yellow"><i class="mdi-content-mail"></i></a>
            <a href='@Url.Action("New", "Klant")' onclick="showProgress();" class="btn-floating btn-large waves-effect waves-light green"><i class="mdi-content-add"></i></a>
        </div>

        <script>
            $("img").error(function () {
                $(this).attr("src", "http://massagesanto.blob.core.windows.net/images/profile.jpg");
            });

            // RIJ KLIKBAAR MAKEN (ELKE EERSTE TD VAN TR IS NIET KLIKBAAR (= CHECKBOX)
            // EN BIJ A-ELEMENTEN (= LINK) WORDT DE JQUERY-KLIK GENEGEERD)
            $('.clickable-row').each(function() {
                $(this).find('td').slice(1).click(function (e) {
                    if (e.toElement.tagName == 'A') return;
                    else window.document.location = $(this).parent().data("href");
                });
            });

            $(document).ready(function () {
                $('select').material_select();
                $('.expand-one').click(function () {
                        $('.content-one').slideToggle();
                        $('#icon-one').toggleClass("rotated");
                });
                $("img").error(function () {
                    $(this).attr("src", "http://massagesanto.blob.core.windows.net/images/profile.jpg");
                });
            });

            function updateMaxLeeftijd(val) {
                $('#maxLeeftijd').text(val);
            };
            function updateMinLeeftijd(val) {
                $('#minLeeftijd').text(val);
            };

            $('#filterDit').click(function () {
                $(".linkdisabled").disabled();
            });

            var checkedValues = $('.checkboxes:checked').map(function () {
                return this.value;
            }).get();

                  
            //$("#Test").click(function () {
            //    $("input:checkbox:not(#Test)").attr("checked", $(this).is(":checked"));
            //});

        </script>
