@model IEnumerable<CRMSanto.Models.Klant>

@{
    ViewBag.Title = "Klanten";
}

<ul class="breadcrumb">
    <li class="active">Klanten</li>
</ul>

@using (Html.BeginForm("Index", "Klant", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <div class="input-group">
            <input type="text" name="Search" class="form-control" placeholder="Zoeken...">
            <span class="input-group-btn">
                <button class="btn btn-primary" name="submit" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                @*<input class="btn btn-primary" name="submit" type="submit"><span class="glyphicon glyphicon-search"></span> />*@
            </span>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th> </th>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Voornaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefoon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Geboortedatum)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Html.GetPhotoURL(Html.DisplayFor(modelItem => item.Foto).ToString())" alt="" class="profilepic shadow-z-1" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Voornaam)
                    </td>
                    <td>
                        @Html.FormatPhoneNumber(Html.DisplayFor(modelItem => item.Telefoon).ToString())
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adres.Straat) @Html.DisplayFor(modelItem => item.Adres.Nummer) @Html.DisplayFor(modelItem => item.Adres.Postbus)<br />
                        @Html.DisplayFor(modelItem => item.Adres.Postcode) @Html.DisplayFor(modelItem => item.Adres.Gemeente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Geboortedatum)
                    </td>
                </tr>
            }

        </table>
    </div>
}



@Html.ActionLink(" ", "New", "Klant", null, new Dictionary<string, object> { { "class", "btn btn-success btn-fab btn-raised mdi-content-add" } })