@{
    ViewBag.Title = "Klant toevoegen";
    var gender = "X";
}
@model CRMSanto.ViewModels.KlantViewModel

<ul class="breadcrumb">
    <li>@Html.ActionLink("Klanten", "Index", "Klant")</li>
    <li class="active">Toevoegen</li>
</ul>

@using (Html.BeginForm("New", "Klant", FormMethod.Post, new { @id = "frmKlant", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title expand-one">
                    <a href="#">
                        <i class="mdi-hardware-keyboard-arrow-down" id="icon-one"></i> Basisgegevens
                    </a>
                </h4>
            </div>
            <div class="panel-body content-one">
                <div class="row">
                            <div class="input-field col s6">
                                <i class="mdi-action-account-circle prefix"></i>
                                @Html.EditorFor(model => model.Voornaam, new { htmlAttributes = new { @class = "validate", id = "first_name" } })
                                <label for="first_name">@Html.DisplayNameFor(model => model.Voornaam)</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="mdi-action-account-circle prefix"></i>
                                @Html.EditorFor(model => model.Naam, new { htmlAttributes = new { @class = "validate", id = "last_name" } })
                                <label for="last_name">@Html.DisplayNameFor(model => model.Naam)</label>
                            </div>
                </div>
                <div class="row">
                            <div class="input-field col s6">
                                <i class="mdi-communication-email prefix"></i>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "validate", id = "mail" } })
                                <label for="mail">@Html.DisplayNameFor(model => model.Email)</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="mdi-communication-phone prefix"></i>
                                @Html.EditorFor(model => model.Telefoon, new { htmlAttributes = new { @class = "validate", id = "telephone" } })
                                <label for="telephone">@Html.DisplayNameFor(model => model.Telefoon)</label>
                            </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="mdi-social-cake prefix"></i>
                        <input type="date" class="datepicker" id="birthdate" name="Klant.Geboortedatum" value="@Model.Vandaag" data-value="@Model.Vandaag">
                        <label for="birthdate">@Html.DisplayNameFor(model => model.Geboortedatum)</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="mdi-social-group prefix"></i>
                        @foreach (var item in Model.Geslachten)
                        {
                            switch (item.Naam)
                            {
                                case "M":
                                    gender = "Man";
                                    break;
                                case "V":
                                    gender = "Vrouw";
                                    break;
                                case "X":
                                    gender = "X";
                                    break;
                                default:
                                    gender = @item.Naam;
                                    break;
                            }
                                <input name="Klant.Geslacht.ID" type="radio" id="@item.ID" class="with-gap radio-klant" value="@item.ID" />
                                <label for="@item.ID">@gender</label>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title expand-two">
                    <a href="#">
                        <i class="mdi-hardware-keyboard-arrow-right" id="icon-two"></i> Collapsible Group Item #2
                    </a>
                </h4>
            </div>
            <div class="panel-body content-two klant-hidden">
                <p>This is the content</p>
                <p> that was hidden before, but now is... Well, visible!"</p>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a onclick="$('#frmKlant').reset();" href="#" class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-navigation-refresh"></i></a>
        <a onclick="$('#frmKlant').unbind('Create').submit();" href="#" class="btn-floating btn-large waves-effect waves-light green"><i class="mdi-content-save"></i></a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
        jQuery(document).ready(function ($) {
            $('.expand-one').click(function () {
                $('#icon-one').toggleClass("mdi-hardware-keyboard-arrow-down mdi-hardware-keyboard-arrow-right");
                $('.content-one').slideToggle();
            });
            $('.expand-two').click(function () {
                $('.content-two').slideToggle();
                $('#icon-two').toggleClass("mdi-hardware-keyboard-arrow-right mdi-hardware-keyboard-arrow-down");
            });
            $('.datepicker').pickadate({
                monthsFull: ['januari', 'februari', 'maart', 'april', 'mei', 'juni', 'juli', 'augustus', 'september', 'oktober', 'november', 'december'],
                monthsShort: ['jan', 'feb', 'mrt', 'apr', 'mei', 'jun', 'jul', 'aug', 'sept', 'okt', 'nov', 'dec'],
                weekdaysFull: ['zondag', 'maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag'],
                weekdaysShort: ['zo', 'ma', 'di', 'wo', 'do', 'vr', 'za'],
                showMonthsShort: undefined,
                showWeekdaysFull: undefined,
                today: 'Vandaag',
                clear: 'Leegmaken',
                close: 'Sluiten',
                labelMonthNext: 'Volgende maand',
                labelMonthPrev: 'Vorige maand',
                labelMonthSelect: 'Selecteer een maand',
                labelYearSelect: 'Selecteer een jaar',
                format: 'dd-mm-yyyy',
                formatSubmit: 'dd-mm-yyyy',
                hiddenPrefix: undefined,
                hiddenSuffix: '_submit',
                hiddenName: true,
                firstDay: 1,
                closeOnSelect: true,
                closeOnClear: true,
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 100 // Creates a dropdown of 15 years to control year
            });
        });
</script>