@model CRMSanto.Models.Arrangement

@{
    ViewBag.Title = "Arrangement bewerken";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Diensten", "Index", "Dienst")</li>
    <li class="active">Arrangement bewerken</li>
</ul>

@using (Html.BeginForm("Edit2", "Dienst", FormMethod.Post, new { @id = "frmDienst" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    @Html.LabelFor(model => model.Naam)
                    @Html.EditorFor(model => model.Naam, new { htmlAttributes = new { placeholder = "" } })
                    @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    @Html.LabelFor(model => model.Prijs)
                    @Html.EditorFor(model => model.Prijs, new { htmlAttributes = new { placeholder = "" } })
                    @Html.ValidationMessageFor(model => model.Prijs, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col s6">
                    @Html.LabelFor(model => model.Duur)
                    @Html.EditorFor(model => model.Duur, new { htmlAttributes = new { placeholder = "" } })
                    @Html.ValidationMessageFor(model => model.Duur, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a onclick="$('#frmDienst')[0].reset();" href="#" class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-navigation-refresh"></i></a>
        <a onclick="$('#frmDienst')[0].submit();" href="#" class="btn-floating btn-large waves-effect waves-light green" name="Create"><i class="mdi-content-save"></i></a>
    </div>
}
