<h2>Massages</h2>
@Html.ActionLink("Nieuwe massage toevoegen", "New")
<table class="table">
    <tr>
        <th>Naam</th>
        <th>Omschrijving</th>
        <th>Duur</th>
        <th>Prijs</th>
    </tr>
    <tr>
    @foreach (var item in ViewBag.Massages)
    {
      <tr>
        <td>@item.Naam</td>
    <td>@item.Omschrijving</td>
    <td>@item.Duur</td>
    <td>@item.Prijs</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
    </td>
        </tr>
    }
</table>
<h2>Arrangementen</h2>
@Html.ActionLink("Nieuw arrangement toevoegen", "New2")
<table class="table"> 
    <tr>
        <th>Naam</th>
        <th>Duur</th>
        <th>Prijs</th>
    </tr>
    <tr>
        @foreach (var item in ViewBag.Arrangementen)
        {
        <tr>
            <td>@item.Naam</td>
            <td>@item.Duur</td>
            <td>@item.Prijs</td>
            <td>
                @Html.ActionLink("Edit", "Edit2", new { id = item.ID })
            </td>
        </tr>
        }
</table>
<h2>Extra's</h2>
@Html.ActionLink("Nieuwe extra toevoegen", "New3")
<table class="table">
    <tr>
        <th>Naam</th>
        <th>Prijs</th>
    </tr>
    <tr>
        @foreach (var item in ViewBag.Extras)
        {
        <tr>
            <td>@item.Naam</td>
            <td>@item.Prijs</td>
            <td>
                @Html.ActionLink("Edit", "Edit3", new { id = item.ID })
            </td>
        </tr>
        }
</table>