@model IEnumerable<CRMSanto.Models.Afspraak>

@{
    ViewBag.Title = "Start";
}

<h2>Afspraken vandaag (@Model.Count())</h2>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumTijdstip)
            </th>
            <th>
                Masseur
            </th>
            <th>
                Klant
            </th>
            <th>
                Soort afspraak
            </th>
            <th>
                Duo
            </th>
            <th>
                Op verplaatsing
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.DatumTijdstip.ToString("HH:mm") - @item.DatumTijdstip.AddMinutes(item.Duur).ToString("HH:mm")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Masseur.Naam)
                </td>
                <td>
                    <a href="Klant/Details/@Html.DisplayFor(modelItem => item.Klant.ID)" ><img src="@Html.GetPhotoURL(Html.DisplayFor(modelItem => item.Klant.Foto).ToString())" alt="" class="profilepic shadow-z-1" /></a> <a href="Klant/Details/@Html.DisplayFor(modelItem => item.Klant.ID)">@Html.DisplayFor(modelItem => item.Klant.Naam) @Html.DisplayFor(modelItem => item.Klant.Voornaam)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoortAfspraak)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoloDuo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Verplaatsing)
                </td>
                <td>
                    TEST: @Html.DisplayFor(modelItem => item.Klant.Adres.Straat)
                    <a title="Klik om te navigeren" href="#" onclick="routeLink(@Html.DisplayFor(modelItem => item.Klant.Adres.Straat), @Html.DisplayFor(modelItem => item.Klant.Adres.Nummer), @Html.DisplayFor(modelItem => item.Klant.Adres.Postcode), @Html.DisplayFor(modelItem => item.Klant.Adres.Gemeente));return false;"><i class="mdi-maps-navigation"></i></a>
                </td>
            </tr>
        }

    </table>
    </div>

<script>	
// ROUTE NAAR KLANT //
    function routeLink(straat, nummer, postcode, gemeente) {
    //var x = document.getElementById("warning");//
        var lat, lon, address;
        var strLink;	
        getLocation();
    }

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            //x.innerHTML = "Geolocation is not supported by this browser.";//
        }
    }
    function showPosition(position) {
        lat = position.coords.latitude;
        lon = position.coords.longitude;
        address = straat + " " + nummer + ", " + postcode + " " + gemeente;
        strLink = "http://maps.google.com/maps?saddr=" + lat + "," + lon + "&daddr=" + address;
        window.open(strLink);
    }
    // /ROUTE NAAR KLANT //
</script>