@model CRMSanto.Models.PresentationModels.NieuweAfspraakPM

@{
    ViewBag.Title = "Afspraak annuleren";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Afspraak.ID)
    @Html.HiddenFor(model => model.Datum);
    @Html.HiddenFor(model => model.Tijdstip);
    @Html.HiddenFor(model => model.Afspraak.Klant);
    @Html.HiddenFor(model => model.Afspraak.Masseur);
    @Html.HiddenFor(model => model.Afspraak.SoortAfspraak);
    @Html.HiddenFor(model => model.Afspraak.SoortAfspraak.ID);
    @Html.HiddenFor(model => model.Afspraak.Arrangement);
    @Html.HiddenFor(model => model.Afspraak.Arrangement.ID);
    @Html.HiddenFor(model => model.Afspraak.Extra.ID);
    @Html.HiddenFor(model => model.Afspraak.Verplaatsing);
    @Html.HiddenFor(model => model.Afspraak.Notitie)
    @Html.HiddenFor(model => model.Afspraak.Duur)
    @Html.HiddenFor(model => model.Afspraak.SoloDuo)
    @Html.HiddenFor(model => model.Afspraak.Geannuleerd)
    @Html.HiddenFor(model => model.Afspraak.AantalPersonen)
    @Html.HiddenFor(model => model.Afspraak.Archief)

    <div class="row">
        <div class="col s12">
            <div class="row">
                <h2>@ViewBag.Datum.ToString("dd MMMM yyyy hh:mm")</h2>
                <p><b>Klant:</b> @Html.DisplayFor(model => model.Afspraak.Klant.Naam) @Html.DisplayFor(model => model.Afspraak.Klant.Voornaam)</p>
                <p><b>Afspraak:</b> @Html.DisplayFor(model => model.Afspraak.SoortAfspraak.Naam)</p>
            </div>
            <div class="row">
                <h3>Ben je zeker dat je deze afspraak wil verwijderen?</h3>
                <button class="btn waves-effect waves-light red" type="submit" name="action">
                    <i class="mdi-action-delete left"></i>                    
                    Ja
                </button>
                <a class="btn waves-effect waves-light orange" href="@Url.Action("Index", "Afspraak")">
                    <i class="mdi-navigation-close left"></i>
                    Nee
                </a>
            </div>
        </div>
    </div>
}

            <script>
                $(document).ready(function () {
                    $('select').material_select();
                });
            </script>
