@model CRMSanto.ViewModels.AfspraakPM

@{
    ViewBag.Title = "Afspraken";
}

<ul class="breadcrumb">
    <li class="active">Afspraken</li>
</ul>

@using (Html.BeginForm("Index", "Afspraak", FormMethod.Post, new { @id = "frmVanaf" }))
{
    <div class="row">
        <div class="col s12">
            <label for="vanaf">Startdatum</label>
            <div class="input-group search">
                <input type="date" id="vanaf" name="vanaf" class="form-control" value="@ViewBag.Vanaf">
                <span class="input-group-btn">
                    <button class="btn-floating waves-effect waves-light santo-brown-bg inline-btn" name="submit" type="submit" tabindex="-1">
                        <i class="mdi-action-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
}
            <div class="row">
                <div class="col s12">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Afspraken[0].DatumTijdstip)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Afspraken[0].Verplaatsing)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Afspraken[0].Notitie)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Afspraken[0].Duur)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Afspraken[0].SoloDuo)
                                </th>
                            </tr>
                            @foreach (var item in Model.Afspraken)
                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DatumTijdstip)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Verplaatsing)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Notitie)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Duur)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoloDuo)
                                    </td>
                                </tr>
                }
                        </table>
                    </div>
                </div>
            </div>

            <div class="fixed-action-btn">
                <a href='@Url.Action("New", "Afspraak")' onclick="showProgress();" class="btn-floating btn-large waves-effect waves-light green"><i class="mdi-content-add"></i></a>
            </div>

<script>
    if (datefield.type != "date") { //if browser doesn't support input type="date", initialize date picker widget:
        jQuery(function ($) { //on document.ready
            $('#vanaf').datepicker();
        })
    }
</script>