@model CRMSanto.ViewModels.AfspraakPM

@{
    ViewBag.Title = "Afspraken";
}

<ul class="breadcrumb">
    <li class="active">Afspraken</li>
</ul>

<div class="col-md-3">
    @using (Html.BeginForm("Index", "Afspraak", FormMethod.Post))
    { 
        <input type="date" id="vanaf" name="vanaf" />
        <input type="submit" value="feest" />
    }
</div>
<div class="col-md-9">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Afspraken[0].DatumTijdstip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Afspraken[0].Verplaatsing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Afspraken[0].Notitie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Afspraken[0].Duur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Afspraken[0].SoloDuo)
                </th>
            </tr>
            @foreach (var item in Model.Afspraken)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatumTijdstip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Verplaatsing)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notitie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoloDuo)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="fixed-action-btn">
    <a href='@Url.Action("New", "Afspraak")' onclick="showProgress();" class="btn-floating btn-large waves-effect waves-light green"><i class="mdi-content-add"></i></a>
</div>