@model CRMSanto.Models.PresentationModels.NieuweAfspraakPM

@{
    ViewBag.Title = "Afspraak toevoegen";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Afspraken","Index","Afspraak")</li>
    <li class="active">Toevoegen</li>
</ul>
@using (Html.BeginForm("New", "Afspraak", FormMethod.Post,new { @id = "frmAfspraak" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false)

    <div class="row">
        <div class="input-field col s12">
            @Html.DropDownListFor(model => model.Afspraak.Klant.ID, Model.Klanten)
            <label>@Html.DisplayNameFor(model => model.Afspraak.Klant)</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            @Html.DropDownListFor(model => model.Afspraak.Masseur.ID, Model.Masseurs)
            <label>@Html.DisplayNameFor(model => model.Afspraak.Masseur)</label>
        </div>
    </div>

    <div class="row row-eq-height">
        <div class="col s6">
            <div class="block-afspraak">
                <p>
                    <input type="checkbox" checked id="massage" />
                    <label for="massage">@Html.DisplayNameFor(model => model.Afspraak.SoortAfspraak)</label>
                </p>
                <div id="massage-row">
                    <div class="row">
                        <div class="input-field col s12">
                            @Html.DropDownListFor(model => model.Afspraak.SoortAfspraak.ID, Model.SoortAfspraken, "--", null)
                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <div class="col s6">
            <div class="block-afspraak">
                <p>
                    <input type="checkbox" id="arrangement" />
                    <label for="arrangement">@Html.DisplayNameFor(model => model.Afspraak.Arrangement)</label>
                </p>
                <div id="arrangement-row">
                    <div class="row">
                        <div class="input-field col s12">
                            @Html.DropDownListFor(model => model.Afspraak.Arrangement.ID, Model.Arrangementen, "--", null)
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            @Html.DropDownListFor(model => model.Afspraak.Extra.ID, Model.Extras, "--", null)
                            <label>@Html.DisplayNameFor(model => model.Extras)</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
                <p>
                    <label for="datum">@Html.DisplayNameFor(model => model.Datum)</label>
                    @Html.EditorFor(model => model.Datum, new { htmlAttributes = new { @class = "datepicker", id = "datum", type = "date" } })
                </p>
        </div>
        <div class="col s6">
            <p>
                <label>@Html.DisplayNameFor(model => model.Tijdstip)</label>
                @Html.EditorFor(model => model.Tijdstip, new { htmlAttributes = new { @class = "timepicker", placeholder = "", type="time" } })
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col s6">
                <input type="checkbox" id="Afspraak_SoloDuo" name="Afspraak.SoloDuo" />
                <label for="Afspraak_SoloDuo">@Html.DisplayNameFor(model => model.Afspraak.SoloDuo)</label>
        </div>
        <div class="col s6">
            <input type="checkbox" id="Afspraak_Verplaatsing" name="Afspraak.Verplaatsing" />
            <label for="Afspraak_Verplaatsing">@Html.DisplayNameFor(model => model.Afspraak.Verplaatsing)</label>         
        </div>
    </div>
    
    <div class="row">
        <div class="input-field col s12">
            @Html.TextAreaFor(model => model.Afspraak.Notitie, new { @class = "materialize-textarea", placeholder = "" })
            <label>@Html.DisplayNameFor(model => model.Afspraak.Notitie)</label>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a onclick="$('#frmAfspraak')[0].reset();" href="#" class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-navigation-refresh"></i></a>
        <a onclick="$('#frmAfspraak')[0].submit();" href="#" class="btn-floating btn-large waves-effect waves-light green" name="Create"><i class="mdi-content-save"></i></a>
    </div>
}



        <script>
            $(document).ready(function () {
                $('select').material_select();
                $('#arrangement-row').children().hide();
                $('.datepicker').pickadate({
                    monthsFull: ['januari', 'februari', 'maart', 'april', 'mei', 'juni', 'juli', 'augustus', 'september', 'oktober', 'november', 'december'],
                    monthsShort: ['jan', 'feb', 'mrt', 'apr', 'mei', 'jun', 'jul', 'aug', 'sept', 'okt', 'nov', 'dec'],
                    weekdaysFull: ['zondag', 'maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag'],
                    weekdaysShort: ['zo', 'ma', 'di', 'wo', 'do', 'vr', 'za'],
                    showMonthsShort: undefined,
                    showWeekdaysFull: undefined,
                    today: 'Vandaag',
                    clear: 'Leeg',
                    close: 'OK',
                    labelMonthNext: 'Volgende maand',
                    labelMonthPrev: 'Vorige maand',
                    labelMonthSelect: 'Selecteer een maand',
                    labelYearSelect: 'Selecteer een jaar',
                    format: 'dd-mm-yyyy',
                    formatSubmit: 'dd-mm-yyyy',
                    hiddenPrefix: undefined,
                    hiddenSuffix: '_submit',
                    hiddenName: undefined,
                    firstDay: 1,
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 100, // Creates a dropdown of 15 years to control year
                    closeOnClear: true
                });
            });
            $("#massage").change(function () {
                if (this.checked) {
                    $('#massage-row').children().slideDown();
                }
                else {
                    $('#massage-row').children().slideUp();
                }
            });
            $("#arrangement").change(function () {
                if (this.checked) {
                    $('#arrangement-row').children().slideDown();
                }
                else {
                    $('#arrangement-row').children().slideUp();
                }
            });
        </script>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
